# Node.js 관련
node_modules/
npm-debug.log
yarn-error.log
.env
.DS_Store

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# OS 관련 파일
Thumbs.db
.DS_Store

# 빌드 결과물
dist/
build/

# IDE 및 에디터 파일
.vscode/
.idea/
*.swp
*.swo
*.iml

# 테스트 관련
coverage/
# Next.js 빌드 디렉토리
.next/

# 환경 설정 파일
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript 빌드 파일
*.tsbuildinfo

# ESLint 캐시
.eslintcache
